.product_item {
  cursor: pointer;
}
.product_info h3 a {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 15px;
}

/* لون وراثه من الاب */
.product_info a:hover {
  /* color: red; */
  color: inherit;
}

.product_info span {
  font-size: 0.9rem;
  /* تعليمة لتكبير الحرف الاول من كلمة */
  text-transform: capitalize;
}

.product_card-bottom .price {
  font-size: 1.3rem;
  color: var(--primary-color);
  font-weight: 500;
}

.product_card-bottom span i {
  font-size: 1.2rem;
  padding: 5px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
}
@media only screen and (max-width: 992px) {
  .product_info h3 a {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .product_info h3 a {
    font-size: 1rem;
  }
  .product_card-bottom span i {
    font-size: 1rem;
  }
}
